name: Building and checking
run-name: ${{ github.actor }} Building
on: 
  workflow_dispatch: 
  push: 
  pull_request: 
  
jobs: 
  build: 
    strategy:
     matrix:
      py-version: [ 3.7, 3.9, 3.11 ]
      os-version: [ ubuntu-latest ]
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ${{ matrix.os-version }}
    steps: 
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: check python version
        uses: actions/setup-python@v4.3.0
        with: 
         python-version: ${{ matrix.py-version }}

      - name: install component
        run: sudo apt-get install -y build-essential doxygen graphviz python3-pip python3-dev

      - name: install dependencies
        run: pip3 install -r requirements.txt

      - name: configure
        run: cmake -S. -Bbuild -DBUILD_PYTHON=ON -DBUILD_DEB=ON

      - name: build
        run: cmake --build build
        
      - name: upload .whl
        uses: actions/upload-artifact@v3
        with: 
         path: ./build/python/dist/*.whl
  
  test:
   needs: build
   runs-on: ubuntu-latest
   container: registry.cn-shanghai.aliyuncs.com/lebai/l-master:latest
   steps: 
     - name: start nginx
       run: nginx
      
     - name: start daemon
       run: |
        systemctl start l-master-rc
        systemctl start l-master-ds
       
     - name: Checkout
       uses: actions/checkout@v3

     - name: install component
       run: apt-get install -y build-essential doxygen graphviz python3-pip python3-dev

     - name: install dependencies
       run: pip3 install -r requirements.txt

     - name: configure
       run: cmake -S. -Bbuild -DBUILD_TESTING=ON

     - name: build
       run: cmake --build build
       
     - name: test
       run: cmake --build build --target test

  nuget: 
     strategy:
      matrix:
       os: [ubuntu-latest, windows-latest]
     runs-on: ubuntu-latest
     steps:
       - name: Checkout
         uses: actions/checkout@v1
         
       - name: Setup .NET Core SDK
         uses: actions/setup-dotnet@v3.0.3
         
       - name: Setup Python
         uses: actions/setup-python@v4.4.0
       
       - name: install dependencies
         if: ${{matrix.os}} == ubuntu-latest
         run: |
          sudo apt install build-essential python3-pip dpkg-dev
          sudo apt install build-essential python3-pip dpkg-dev

       - run: pip install -r requirements.txt

       - name: configure
         run: cmake -S. -Bbuild -DBUILD_DOTNET=ON

       - name: build
         run: cmake --build build
          
       - name: upload Nuget
         run: |
          cd ./build/dotnet/packages
          dotnet nuget push lebai.1.0.*.nupkg --api-key ${{ secrets.NUGET_KEY }} --source https://api.nuget.org/v3/index.json
