name: Windows dotnet release
run-name: ${{ github.actor }} Windows dotnet release
on: 
  workflow_dispatch: 
  push:
   tags:
    - v1.*.*
jobs: 
  linux_dotnet_build_and_release: 
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      
      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v3.0.3

      - name: Setup .NET 6.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
          
      - name: configure
        run: cmake -S. -Bbuild -G "Visual Studio 17 2022" -DBUILD_DOCUMENTATION=OFF

      - name: build
        run: cmake --build build

      - name: upload pacakges
        run: 
          cd ./build/dotnet/packages;
          dotnet nuget push lebai.runtime.windows-x64.1.0.*.nupkg --api-key ${{ secrets.NUGET_KEY }} --source https://api.nuget.org/v3/index.json;
