name: Windows cpp build
run-name: ${{ github.actor }} Windows cpp pr build
on: 
  workflow_dispatch: 
  pull_request: 
# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
  pull-requests: read

jobs: 
  windows_cpp_pr_build:
    runs-on: windows-latest 
    steps: 
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check cmake
        run: cmake --version
      - name: Configure
        run: cmake -S. -Bbuild -G "Visual Studio 17 2022"
      - name: Build
        run: cmake --build build